<!DOCTYPE html>
<html>
<head>
    <title>Add Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
        <header>
            <h1>Recipes Manager</h1>
        </header>
    <h1>Add a Recipe</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Title: <input type="text" name="title" required></label><br>
        <label>Ingredients: <textarea name="ingredients"></textarea></label><br>
        <label>Instructions: <textarea name="instructions"></textarea></label><br>
        <label>Category:
            <select name="category">
                <option value="salads">Salads</option>
                <option value="mains">Mains</option>
                <option value="desserts">Desserts</option>
            </select>
        </label><br>
        <label>Recipe Image: <input type="file" name="image" accept="image/*"></label><br>
        <button type="submit">Add</button>
    </form>
    <a href="/">Back to recipes</a>
</body>
</html>

