{% extends "layout.html" %}

{% block content %}
    <h1>Add a Recipe</h1>
    <form class="add_form" method="POST" enctype="multipart/form-data">
        <label>Title: <input type="text" name="title" required></label><br>
        <label>Ingredients: <textarea name="ingredients"></textarea></label><br>
        <label>Instructions: <textarea name="instructions"></textarea></label><br>
        <label>Category:
            <select name="category">
                <option value="salads">Salads</option>
                <option value="mains">Mains</option>
                <option value="deserts">Deserts</option>
            </select>
        </label><br>
        <label>Recipe Image: <input type="file" name="image" accept="image/*"></label><br>
        <button type="submit">Add</button>
    </form>
    <a href="/">Back to recipes</a>

{% endblock %}
